{% extends 'index.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/inventarioEstilos.css') }}">
{% endblock %}

{% block content %}
        <!--HEADEEEEEEEEEER-->
    
    
        <div class="contenedorOpciones" id="contenedorOpciones">
            <ul class="clasificacion">
                <li class="opciones"><a href="#lacteos">Lacteos</a></li>
                <li class="opciones"><a href="#cereales">Cereales</a></li>
                <li class="opciones"><a href="#embutidos">Embutidos</a></li>
                <li class="opciones"><a href="#enlatados">Enlatados</a></li>
                <li class="opciones"><a href="#congelados">Congelados</a></li>
                <li class="opciones"><a href="#otros">Otros</a></li>
            </ul>
    
        </div>
    

    <section class="contenido">
            <div class="mostrador" id="mostrador">



                <section id="lacteos">
                    <div class="contenedor-imgCategoria">
                        <img src="../static/img/seccionLacteos4.png" alt="">
                    </div>

                    <!--           L  A   C   T   E   O   S     -->
                <div class="fila">
                    {% for index in indices %}
                        {% if index % 4 == 0 %}
                            </div><div class="fila">
                        {% endif %}
                        <div class="item" onclick="cargar(this)" data-stock="{{ alimentos[index][8] }}" data-id="{{ alimentos[index][0] }}">
                            <div class="contenedor-foto">
                                <img src="{{ url_for('static', filename='img/'+ alimentos[index][5]) }}" alt="">
                            </div>
                            <p class="descripcion">{{ alimentos[index][1] }}</p>
                            <span class="cantidad">en stock: {{ alimentos[index][8] }}</span>
                        </div>
                    {% endfor %}
                </div>
            </section>

               
            <section id="cereales">
                <div class="contenedor-imgCategoria">
                    <img src="../static/img/seccionCereales.png" alt="">
                </div>
                <!--    C   E   R   E   A   L   E   S      -->
                <div class="fila">
                    {% for index in indices %}
                        {% if index % 4 == 0 %}
                            </div><div class="fila">
                        {% endif %}
                        <div class="item" onclick="cargar(this)" data-stock="{{ alimentos[index][8] }}" data-id="{{ alimentos[index][0] }}">
                            <div class="contenedor-foto">
                                <img src="{{ url_for('static', filename='img/'+ alimentos[index][5]) }}" alt="">
                            </div>
                            <p class="descripcion">{{ alimentos[index][1] }}</p>
                            <span class="cantidad">en stock: {{ alimentos[index][8] }}</span>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section id="embutidos">
                <div class="contenedor-imgCategoria">
                    <img src="../static/img/seccionEmbutidos.png" alt="">
                </div>
                <!--    E   M   B   U   T   I   D   O   S       -->
                <div class="fila">
                    {% for index in indices %}
                        {% if index % 4 == 0 %}
                            </div><div class="fila">
                        {% endif %}
                        <div class="item" onclick="cargar(this)" data-stock="{{ alimentos[index][8] }}" data-id="{{ alimentos[index][0] }}">
                            <div class="contenedor-foto">
                                <img src="{{ url_for('static', filename='img/'+ alimentos[index][5]) }}" alt="">
                            </div>
                            <p class="descripcion">{{ alimentos[index][1] }}</p>
                            <span class="cantidad">en stock: {{ alimentos[index][8] }}</span>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section id="enlatados">
                <div class="contenedor-imgCategoria">
                    <img src="../static/img/seccionEnlatados.png" alt="">
                </div>
                <!--    E   N   L   A   T    A   D   O   S       -->
                <div class="fila">
                    {% for index in indices %}
                        {% if index % 4 == 0 %}
                            </div><div class="fila" data-stock="{{ alimentos[index][8] }}" data-id="{{ alimentos[index][0] }}">
                        {% endif %}
                        <div class="item" onclick="cargar(this)">
                            <div class="contenedor-foto">
                                <img src="{{ url_for('static', filename='img/'+ alimentos[index][5]) }}" alt="">
                            </div>
                            <p class="descripcion">{{ alimentos[index][1] }}</p>
                            <span class="cantidad">en stock: {{ alimentos[index][8] }}</span>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <section id="congelados">
                <div class="contenedor-imgCategoria">
                    <img src="../static/img/seccionCongelados.png" alt="">
                </div>
                <!--    C   O   N   G   E   L   A   D   O   S       -->
                <div class="fila">
                    {% for index in indices %}
                        {% if index % 4 == 0 %}
                            </div><div class="fila">
                        {% endif %}
                        <div class="item" onclick="cargar(this)" data-stock="{{ alimentos[index][8] }}" data-id="{{ alimentos[index][0] }}">
                            <div class="contenedor-foto">
                                <img src="{{ url_for('static', filename='img/'+ alimentos[index][5]) }}" alt="">
                            </div>
                            <p class="descripcion">{{ alimentos[index][1] }}</p>
                            <span class="cantidad">en stock: {{ alimentos[index][8] }}</span>
                        </div>
                    {% endfor %}
                </div>
            </section>



            <section id="otros">
                <div class="contenedor-imgCategoria">
                    <img src="../static/img/seccionOtros.png" alt="">
                </div>
                <!--    C   O   N   G   E   L   A   D   O   S       -->
                <div class="fila">
                    {% for index in indices %}
                        {% if index % 4 == 0 %}
                            </div><div class="fila" data-stock="{{ alimentos[index][8] }}" data-id="{{ alimentos[index][0] }}">
                        {% endif %}
                        <div class="item" onclick="cargar(this)">
                            <div class="contenedor-foto">
                                <img src="{{ url_for('static', filename='img/'+ alimentos[index][5]) }}" alt="">
                            </div>
                            <p class="descripcion">{{ alimentos[index][1] }}</p>
                            <span class="cantidad">en stock: {{ alimentos[index][8] }}</span>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <button class="btn btn-primary" onclick="enviarDatos()">ENVIAR DATOS AL SERVIDOR</button>

                
                

            </div>
            <!-- CONTENEDOR DEL ITEM SELECCIONADO -->
            <div class="seleccion" id="seleccion">
                <div class="cerrar" onclick="cerrar()">
                    &#x2715
                </div>
                <div class="info">
                    <img src="" alt="" id="img">
                    <h2 id="modelo">NIKE MODEL 1</h2>
                    <span class="cantidad" id="cantidad">en stock:</span>
            
                    <div class="fila d-flex flex-column align-items-start"> <!-- Cambiamos flex-direction a column -->
                        <div class="size d-flex align-items-center mb-3"> <!-- Agregamos margen inferior para separar del botón -->
                            <label for="cantidad-input" class="mr-2">INGRESE LA CANTIDAD:</label> <!-- Agregamos margen derecho para separar el label del input -->
                            <input id="cantidad-input" name="cantidad" class="form-control" type="number" max="" min="1" value="1">
                            <input type="hidden" id="idalim" name="idalim">
                        </div>
                        <div class="d-block"> <!-- Botón en una nueva línea -->
                            <button class="btn btn-primary" onclick="almacenarDatos()">SOLICITAR</button> <!-- Utilizamos la clase btn de Bootstrap -->
                        </div>
                    </div>
                </div>
            </div>

    <script src="{{ url_for('static', filename='javascript/solicitudDonacion.js') }}"></script>
{% endblock %}
