<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"">
    <title>Pesonas registradas</title>
</head>
<body>
    <section class="section">
        <div class="columns">
            <div class="column">
                <h3 class="is-size-3">Personas Registradas</h3>
                <a href="register" class="button is-success">Agregar</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>CI</th>
                            <th>Nombre</th>
                            <th>Paterno</th>
                            <th>Materno</th>
                            <th>Celular</th>
                            <th>Direccion</th>
                            <th>Sexo</th>
                            <th>Fecha de Nacimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for persona in personas %}
                        <tr>
                            <td>{{persona[0]}}</td>
                            <td>{{persona[1]}}</td>
                            <td>{{persona[2]}}</td>
                            <td>{{persona[3]}}</td>
                            <td>{{persona[4]}}</td>
                            <td>{{persona[5]}}</td>
                            <td>{{persona[6]}}</td>
                            <td>{{persona[7]}}</td>
                            <td>
                                <a href="{{url_for('editar_persona', id=persona[0])}}" class="button is-info">Editar</a>
                            </td>
                            <td>
                                <form action="{{url_for('eliminar_persona')}}" method="POST">
                                    <input type="hidden" name="id" value="{{juego[0]}}">
                                    <button class="button is-danger">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>