<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <form action="restablecer" method="post">
        <div>
            <label for="password">Nueva Contraseña</label>
            <input type="password" id="password" name="password" required placeholder="Nueva Contraseña">
        </div>
        <div>
            <label for="rpassword">Repita su contraseña</label>
            <input type="rpassword" id="password" name="password" required placeholder="Repita su Contraseña">
        </div>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>